results/best_model_mr/model_best.ckpt filter=lfs diff=lfs merge=lfs -text
run_on_video/example/RoripwjYFp8_60.0_210.0.mp4 filter=lfs diff=lfs merge=lfs -text
run_on_video/clip/bpe_simple_vocab_16e6.txt.gz filter=lfs diff=lfs merge=lfs -text
